.modal_container {
  background-color: lightblue;
  padding: 2.5rem;
  z-index: 1000;
  position: fixed;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .button_container {
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      color: #FFF !important;
      font-weight: 500;
    }
  }
}

td {
  button {
    margin: auto 0.5rem;
  }
}

.form_container {
  div.is-flex {
    justify-content: space-between;
    margin: 1rem auto;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
  }
  div.is-flex:last-child {
    border-bottom: none !important;
    button {
      margin: 1rem auto;
      background-color: indianred;
    }
  }

  button.has-background-danger {
    margin: auto 0.5rem;
  }
}

.field {
  p.has-text-danger {
    margin: auto 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
  }
}
