.button_container {
  button {
    margin: 1rem 1rem 1rem 0;
  }
}

.form_container {
  width: 60%;
  margin: 1rem auto;
  background-color: #4366e5;
  color: #FFF;
  padding: 1rem;

  .title {
    color: #FFF;
  }
  label {
    color: #FFF;
  }

  input {
    color: #00c4a7;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}